body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/bem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

div.a {
    text-align: center;
    height: auto;
    color: #ffffff;
    font-size: 150%;
    font-family: Lucida Handwriting;
}

div.b {
    text-align: center;
    height: auto;
    color: #ffffff;
    font-size: 150%;
}

.button4 {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: #000000;
    width: 200px;
    height: 60px;
}

.button4:active,.button4:focus{
    outline:none;
}

.button4:hover {
    background-color: rgba(255,255,255,0.3);
}