@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel=" stylesheet" type="text/css" href="~/css/Estilo.css"/>
    <meta name="viewport" content="width=device-width" />
    <title>BemVindo</title>
</head>
<body>
    <br /><br /><br /><br /><br /><br /><br /><br />
    <div class="a">
        <h1><i>Bem vindo!</i></h1>
    </div>
    <div class="b">
        <h4>Você chegou! Estamos muito felizes por você estar aqui conosco. Seja Bem vindo! </h4>
        <button class="button button4" data-toggle="modal" data-target="#loginUsuario"> <h2>Entrar</h2> </button>
        <button class="button button4" onclick="location.href='@Url.Action("Index","Home")'"> <h2>Voltar ao início</h2> </button>
    </div>

</body>
</html>

