@{
    ViewData["Title"] = "Gerenciamento do Cardápio";
}

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Bebidas</h5>
                <p class="card-text">Lista de Bebidas</p>
                <a asp-controller="Bebida" asp-action="Listar" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Porções</h5>
                <p class="card-text">Lista de Porções</p>
                <a asp-controller="Porcao" asp-action="Listar" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pratos</h5>
                <p class="card-text">Lista de Pratos</p>
                <a asp-controller="Prato" asp-action="Listar" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sobremesas</h5>
                <p class="card-text">Lista de Sobremesas</p>
                <a asp-controller="Sobremesa" asp-action="Listar" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
</div>
