
@{
    Layout = null;
}

<!doctype HTML>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=" utf-8" name="viewport" content="width=device=width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/Estilo.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>

    <header>
        <nav id="barra">
            <ul>
                <li><a class="active" href="site.html">Home</a></li>
                <li><a class="active" href="acesso.html">Acesso</a></li>
                <li><a class="active" href="quemsomos.html">Quem Somos</a></li>
                <li><a class="active" href="Metodologia.html">Metodologia</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <

        <div class="bg-img">
            <br /> <br /> <br /><br /> <br />
            <form class="container" action="/action_page.php">

                <h1>Login</h1>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" autofocus name="email" class="teste" required />

                <label for="psw"><b>Password</b></label>

                <input type="password" placeholder="Enter Password" name="psw" required>
                <h6><a href="senha.html">Esqueci a senha</a></h6>


                <button asp-action="Index" type="submit" class="btn">Login</button>
            </form>
        </div>


</body>
</html>

