@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pessoas</h5>
                <p class="card-text">Gerenciar Clientes e Funcionários</p>
                <a asp-action="Pessoa" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cardápio</h5>
                <p class="card-text">Gerenciamento do cardápio do restaurante</p>
                <a asp-action="Cardapio" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Bebida" asp-action="Listar" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>