@{
    ViewData["Title"] = "Home Page";
}

@if (etec.bg.abax.maitre.MVC.Program.Session.Instance.UserID < 1 && etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == null)
{
    <h1 class="text-danger">Por favor efetue o Login para poder acessar esta página</h1>

}
else
{
    <h2>Menu</h2>

    <div class="row">

        @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "rest" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administração" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "RH" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administrador")
        {
            <a asp-action="Pessoa">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:15px">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/images/pessoas.png" alt="">
                        <div class="overlay">
                            <h2>Pessoas</h2>
                            <p>
                                <a asp-action="Pessoa" class="text-decoration-none"><i class="glyphicon glyphicon-user"></i></a><br />
                                <i>Gerenciar clientes e funcionários</i>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }

        @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "rest" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administração" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Cozinha" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Caixa" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "cli" || etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao == "Administrador")
        {
            <a asp-action="Cardapio">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:15px">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/images/menu.png" alt="">
                        <div class="overlay">
                            <h2>Cardápio</h2>
                            <p>
                                <a asp-action="Cardapio" class="text-decoration-none"><i class="glyphicon glyphicon-th-large"></i></a><br />
                                <i>Cardápio do restaurante</i>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }

        @if (etec.bg.abax.maitre.MVC.Program.Session.Instance.Funcao != "RH")
        {
            <a asp-action="Reserva">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:15px">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/images/reserva.png" alt="">
                        <div class="overlay">
                            <h2>Reserva</h2>
                            <p>
                                <a asp-action="Reserva" class="text-decoration-none"><i class="glyphicon glyphicon-book"></i></a><br />
                                <i>Gerenciamento das reservas</i>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
}