@{
    ViewData["Title"] = "Home Page";
}

@if (etec.bg.abax.maitre.MVC.Startup.Session.Instance.UserID < 1 && etec.bg.abax.maitre.MVC.Startup.Session.Instance.Funcao == null)
{
}
else
{
    <p>Valor: @etec.bg.abax.maitre.MVC.Startup.Session.Instance.UserID.ToString() e @etec.bg.abax.maitre.MVC.Startup.Session.Instance.Funcao.ToString()</p>
}

<h2>Menu</h2>

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pessoas</h5>
                <p class="card-text">Gerenciar Clientes e Funcionários</p>
                <a asp-action="Pessoa" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cardápio</h5>
                <p class="card-text">Gerenciamento do cardápio do restaurante</p>
                <a asp-action="Cardapio" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Reserva</h5>
                <p class="card-text">Gerenciamento das reservas</p>
                <a asp-action="Reserva" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
</div>