@{
    ViewData["Title"] = "Gerenciamento de Pessoas";
}

<h2>Pessoa</h2>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:15px">
        <div class="hovereffect">
            <img class="img-responsive" src="~/images/pessoas.png" alt="">
            <div class="overlay">
                <h2>Funcionários</h2>
                <p>
                    <a asp-controller="Funcionario" asp-action="Listar" class="text-decoration-none"><i class="glyphicon glyphicon-play"></i></a><br />
                    <i>Lista de Funcionários</i>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:15px">
        <div class="hovereffect">
            <img class="img-responsive" src="~/images/pessoas.png" alt="">
            <div class="overlay">
                <h2>Clientes</h2>
                <p>
                    <a asp-controller="Cliente" asp-action="Listar" class="text-decoration-none"><i class="glyphicon glyphicon-play"></i></a><br />
                    <i>Lista de Clientes</i>
                </p>
            </div>
        </div>
    </div>
</div>
