@{
    ViewData["Title"] = "Gerenciamento de Pessoas";
}

<h2>Pessoa</h2>

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Funcionário</h5>
                <p class="card-text">Lista de Funcionários</p>
                <a asp-controller="Funcionario" asp-action="Listar" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-user-png-6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cliente</h5>
                <p class="card-text">Lista de Clientes</p>
                <a asp-controller="Cliente" asp-action="Listar" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
</div>
