
@{
    ViewData["Title"] = "Reserva";
}

<h2>Reserva</h2>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:15px">
        <div class="hovereffect">
            <img class="img-responsive" src="~/images/reserva.png" alt="">
            <div class="overlay">
                <h2>Lista</h2>
                <p>
                    <a asp-controller="Reserva" asp-action="Listar" class="text-decoration-none"><i class="glyphicon glyphicon-play"></i></a><br />
                    <i>Lista de Reservas</i>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-top:15px">
        <div class="hovereffect">
            <img class="img-responsive" src="~/images/reserva.png" alt="">
            <div class="overlay">
                <h2>Cadastro</h2>
                <p>
                    <a asp-controller="Reserva" asp-action="Cadastrar" class="text-decoration-none"><i class="glyphicon glyphicon-play"></i></a><br />
                    <i>Cadastrar uma Reserva</i>
                </p>
            </div>
        </div>
    </div>
</div>

