@model etec.bg.abax.maitre.MVC.Models.Reserva.Reserva

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idReserva" class="control-label"></label>
                <input asp-for="idReserva" class="form-control" />
                <span asp-validation-for="idReserva" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="mesa" class="control-label"></label>
                <input asp-for="mesa" class="form-control" />
                <span asp-validation-for="mesa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="finalidade" class="control-label"></label>
                <input asp-for="finalidade" class="form-control" />
                <span asp-validation-for="finalidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="agenda" class="control-label"></label>
                <input asp-for="agenda" class="form-control" />
                <span asp-validation-for="agenda" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="atendimento" /> @Html.DisplayNameFor(model => model.atendimento)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
